*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: white;
    font-family: Arial, Hevetica, sans-serif;
    height: 100vh;
   /* background: linear-gradient(to right,#FDB99B,#CD8BF3);*/

}

.img {
    width: 600px;
}
.tableau-style
{
    border-collapse:collapse ;
    min-width: 400px;
    width: auto;
    box-shadow:0 0 20px rgba(0,0,0,0.15) ;
    cursor: pointer;
    margin : 100px;
    border: 1px solid #ddd;
}
thead tr{
    background-color: midnightblue;
    color: #fff;
    text-align: left;
}
th,td{
    padding: 15px 20px ;
}
tbody tr, td {
    border : 1px solid #ddd;
}
tbody tr:nth-child(even)
{
    background-color: #dddddd;
}
tbody tr:last-of-type
{
border-bottom: 2px solid midnightblue;
}

.container
{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 600px;
    padding: 30px;
    border-radius: 10px;
    box-shadow:0 15px 50px rgba(0,0,0,0.2) ;

}
.cercle
{
    width: 200px;
    height: 200px;
    border-radius:50% ;
    background: orange;
    background: url("https://images.unsplash.com/photo-1614027164847-1b28cfe1df60?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=786&q=80");
    background-size: cover;
    background-position: -50px 0;
    float: left;
    margin: 0px 25px 25px 0px;
   shape-outside: circle();

}
.container1{
    width: 300px;
    height: 300px;
    background: orange;
    transition: all 1.25s ease-in-out;
    -o-transition:all 1.25s ease-in-out ;
}

.container1:hover
{
    transform: rotate(720deg);
}
h2{
    font-size: 65px;
    margin: 25px;
    text-transform:uppercase ;
    font-weight: 700;
    background-image: linear-gradient(to right,#373737, #c0b283 );
   -webkit-background-clip: text ;
    color: transparent;
    text-align: center;
    letter-spacing: 4px;
    padding-top: 100px;

}